
<!DOCTYPE html>
<html>
    <head>
        <title>Hai</title>
        style.
            body {
                width: 35em;
                margin: 0 auto;
                font-family: Tahoma, Verdana, Arial, sans-serif;
            }
    </head>
    <body>
        <h1>Hai</h1>
        <p>Good to see</p>
    </body>
</html>
